ul{
    padding: 0;
}

.editBlock {
    padding: 0 80px;
}
.editRecord{
    input{
        padding-left: 67px;
        width: 100%;
        height: 65px;
        background:$white;
        border: 2px solid $f2eW1-seventh;
        border-radius: 5px;
        font-size: 24px;
    }
    i{
        position: relative;
        bottom: 50px;
        left: 25px;
        color: $f2eW1-seventh;
    }
}

.inputEditBlock{
    position: relative;
    margin-bottom: 24px;
    .inputEdit{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 102px;
        background:$white;
        border: 2px solid $f2eW1-seventh;
        border-radius: 5px;
        background-color: $f2eW1-fifth;
    }
}

.addLine{
    margin: 30px 30px;
    input{
        position: relative;
        bottom: 3px;
        transform: scale(2);
        
    }
    label{
       padding: 0 25px;
       font-size: 24px;
    }
   
}
 [type="checkbox"]:checked~label {
     text-decoration: line-through;
 }

.editIcon {
    float: right;
    top: 30px;
    position: relative;
    li {
        float: left;
        padding-right: 24px;
    .star{
            border: 2px solid #000000;
        }
    }
}

.categories{
    display: flex;
    flex-direction: column;
    padding-left: 72px;
    background: #F2F2F2;
    box-shadow: 0 4px 4px 0 #C8C8C8;
    border-radius: 5px;
    
}
.deadline {
    padding: 25px 0;
    position: relative;
    p {
        position: absolute;
        font-size: 20px;
        bottom: 2px;
        left: 25px;
    }
    .date {
        display: flex;
        position: absolute;
        padding-right: 5px;
        top: 50px;
        left: 25px;
        width: 162px;
        height: 35px;
    }
}

.file{
    position: relative;
    margin: 25px 0;
    input{
        display: none;
    }
    p{
            display: inline-block;
            padding-left: 10px;
            font-size: 20px;
    }
    label{
            position: absolute;
            top: 50px;
            left: 25px;
    }
}

.comment{
        margin-bottom: 25px;
    p{
        display: inline-flex;
        font-size: 20px;
        padding-left: 10px;
    }
    textarea{
        position: relative;
        left: 30px;
        display: flex;
        border: none;
        border-radius: 5px;
    }
}

.select{
        display: flex;
        justify-content: space-evenly;
    .cel{
        // background-color: #FFFFFF;
        border: 1px solid white;
        width: 450px;
        height: 55px;
        font-size: 24px;
        color: $f2eW1-third;
        text-align: center;
    }
    .sav{
        width: 450px;
        height: 55px;
        border: 1px solid $f2eW1-first;
        background-color: $f2eW1-first;
        color: white;
        font-size: 24px;
         text-align: center;
    }
}

.inputEdit {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    background: $white;
    border: 2px solid $f2eW1-seventh;
    border-radius: 5px;
    .star{
        color: $f2eW1-fourth;
    }
}


.record {
    position: relative;
    margin-bottom: 24px;
    .inputEdit {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 102px;
        background: $white;
        border: 2px solid $f2eW1-seventh;
        border-radius: 5px;
        background-color: $f2eW1-fifth;

    }
    .delEdit{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 102px;
        background: $white;
        border: 2px solid $f2eW1-seventh;
        border-radius: 5px;
    }
}

.choose{
        display: flex;
        float: left;
        position: relative;
        bottom: 30px;
        left: 80px;
    .file{
        margin: 0;
        padding-right: 20px;
        color: $f2eW1-eighth;
    }
    .comment{
        color: $f2eW1-eighth;
    }
}

.choose-2{
        display: flex;
        position: relative;
        bottom: 30px;
        left: 80px;
        .deadline{
            padding: 0 20px 0 0;
            color: $f2eW1-eighth;
        }
        .file{
            margin: 0;
            padding-right: 20px;
            color: $f2eW1-eighth;
        }
        .comment{
            padding: 0;
            color: $f2eW1-eighth;
        }
}
