extends _layout.jade
      
block header
  #header
    .header
      .countainer
        .nav
            ul
                li
                    a(href="#tab-1").my My Tasks
                li 
                    a(href="#tab-2") In Progress
                li 
                    a(href="#tab-3") Completed
            hr

block content 
    #content
      .countainer
       .editBlock 
        .editRecord
          input(type="text", placeholder=" Add Task") 
          <i class="fas fa-plus fa-2x"></i>
           
        .inputEditBlock
            .inputEdit
              .addLine
                input(type="checkbox", id="check")
                label(for="check") Type Something Here...
              ul.editIcon
                li.del
                  <i class="fas fa-times fa-2x"></i>
                li.star 
                    <i class="fas fa-star fa-2x"></i>
                li.edit
                  <i class="fas fa-edit fa-2x"></i>
            .categories
                  .deadline<i class="far fa-calendar-alt"></i>
                    p Deadline
                    .date
                      input(type="date", name="" placeholder="yyyy/mm/dd") 
                      input(type="time", name="" placeholder="hh/mm") 
                  .file<i class="far fa-file"></i>
                    p File
                    label(for="btn")
                      <i class="fas fa-plus-square fa-2x"></i>
                    input(type="file", id="btn" )
                    
                  .comment<i class="far fa-comment-dots"></i>
                    p Comment
                    textarea(name="", cols="80", rows="10" placeholder="meet him at Lorence Cafe")
            .select
              button(type="button").cel  
                <i class="fas fa-times"></i> Cancel
              button(type="button").sav 
                <i class="fas fa-plus"></i> Save
        .record
            .inputEdit
              .addLine
                input(type="checkbox", id="check")
                label(for="check") Type Something Here...
              ul.editIcon
                li.del
                  <i class="fas fa-times fa-2x"></i>
                li.star
                  <i class="fas fa-star fa-2x"></i>
                li.edit
                  <i class="far fa-edit fa-2x"></i>
            .choose
                .file<i class="far fa-file"></i>
                .comment<i class="far fa-comment-dots"></i>


            .inputEdit
              .addLine
                input(type="checkbox", id="check")
                label(for="check") Type Something Here...
              ul.editIcon
                li.del
                  <i class="fas fa-times fa-2x"></i>
                li.star
                  <i class="fas fa-star fa-2x"></i>
                li.edit
                  <i class="far fa-edit fa-2x"></i>
            .choose-2
                .deadline<i class="far fa-calendar-alt"></i>
                .file<i class="far fa-file"></i>
                .comment<i class="far fa-comment-dots"></i>
            
            .delEdit
              .addLine
                input(type="checkbox", id="check" value="checked")
                label(for="check") Type Something Here...
              ul.editIcon
                li.del
                  <i class="fas fa-times fa-2x"></i>
                li.star
                  <i class="far fa-star fa-2x"></i>
                li.edit
                  <i class="far fa-edit fa-2x"></i>
            .choose-2
                  .file<i class="far fa-file"></i>
                
           
        //-     ul
        //-         li
        //-           input(type="checkbox", name="") 
        //-           input(type="text", name="" placeholder="Type Something Here...") 
        //-           .editIcon
        //-             .star
        //-               i icon
        //-             .edit
        //-               i icon
        //-           .footerIcon
        //-             ul 
        //-               li
        //-                 i file
        //-               li
        //-                 i content
        //-               li 
        //-                 i date






block footer  


  #go-top 
    a(href="#header")
      span<i class="fas fa-angle-up"></i>
        
    

