extends _layout.jade
block header
  #header
    .header
      .countainer
        .nav
            ul
                li
                    span#tab-1
                    a(href="#tab-1").my My Tasks
                li 
                    span#tab-2
                    a(href="#tab-2") In Progress
                li 
                    span#tab-3
                    a(href="#tab-3") Completed
            hr
block content
 selection#table-2  
    #content
      .countainer
       .editBlock 
        .editRecord
          input(type="text", placeholder=" Add Task") 
          <i class="fas fa-plus fa-2x"></i>
           
        .inputEditBlock
            .inputEdit
              .addLine
                input(type="checkbox", id="check")
                label(for="check") Type Something Here...
              ul.editIcon
                li.del
                  <i class="fas fa-times fa-2x"></i>
                li.star
                  <i class="far fa-star fa-2x"></i>
                li.edit
                  <i class="far fa-edit fa-2x"></i>